.container {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    padding: 20px;
  }
  
  .header {
    position: relative;
    text-align: center;
    color: white;
    font-style: italic;
   
  }
  
  .heroImage {
    width: 50%;
    height: auto;
    object-fit: cover;
   border-radius: 20px;
  }
  
  .heroHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
 
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .section {
    margin: 40px 0;
  }
  
  .redText {
    color: red;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .whiteText {
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .blackText {
    color: black;
    font-size: 1.8rem;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image {
    border: 3px solid red;
    border-radius: 5px;
  }
  